{{!-- Add Source dropdown --}}
<ul id="myTab" class="nav nav-tabs d-flex" role="tablist">
  <li class="nav-item flex-fill border">
    <a class="nav-link text-center fs-3" href="#mathSection" >Math</a>
  </li>
  <li class="nav-item flex-fill border">
    <a class="nav-link text-center fs-3" href="#englishSection" >English</a>
  </li>
  <li class="nav-item- flex-fill border">
    <a class="nav-link text-center fs-3" href="#scienceSection">Science/Social Studies</a>
  </li>
</ul>
<div id="container" class="tab-content">
  {{#sections}}
  <div class="tab-pane" id={{SectionName}} role="tabpanel" aria-labelledby={{SectionName}}-tab>
        <div class="row mx-0 justify-content-center">
        {{#Students}}
        <div class="col-sm-3 px-0 my-1 mx-1 d-flex flex-row">
        {{#CheckAttendance Attendances ../id}}
            <button type="button" data-id = {{id}} data-section={{../SectionName}} data-sectionId={{../id}} class="btn btn-primary btn-lg btn-block d-inline-block" disabled data-dbrecord={{@dbRecord}}>{{firstName}} {{lastName}}</button>
            <button class="btn btn-danger d-inline-block">Undo</button>
            </div>
        {{else}}
            <button type="button" data-id = {{id}} data-section={{../SectionName}} data-sectionId={{../id}} class="btn btn-primary btn-lg btn-block">{{firstName}} {{lastName}}</button>
           </div>
        {{/CheckAttendance}}
        {{/Students}}
        </div>
  </div>
  {{/sections}}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="/assets/js/eventOverview.js"></script>